body {
  box-sizing: border-box;
  font-family: "Comfortaa", sans-serif;
  background-image: url("https://cdn-images-1.medium.com/max/1200/1*eHJmi0Cw-UKclhAfocv_GA.png")
}

.bold {
  font-weight: 700;
}

.masthead {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 0px 20px 0px 40px;
  min-height: 50px;
  background-color:lightgray;
  color: #b6353f;
  border-bottom: #ddd 1px solid;
}

.site-branding {
  font-size: 0,5em;
  padding: 0;
  margin: 0;
  transition: all 0.4s ease-in-out;
  max-height:45px;
}

.site-branding:hover {
  color: #b6353f;
}